@keyframes woo-wishlist-loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.woo-wishlist-button {
    display: inline-block;
    line-height: 1;
    margin-inline-start: 0.5em;
    color: #6d6d6d;
    opacity: .6;

    &:hover {
        color: #ec0a68;
        opacity: 1;
    }
    &.added {
        color: #ec0a68;
        opacity: 1;

        &:hover {
            opacity: 1;
            color: #ec0a68;
        }
    }
    &.loading {
        animation: woo-wishlist-loading 1s linear infinite;
        pointer-events: none;

        &:focus {
            outline: none;
        }
    }
}
