@keyframes woo-wishlist-loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.woo-wishlist-button {
    display: inline-block;
    line-height: 1;
    margin-inline-start: 0.5em;
    color: #6d6d6d;
    opacity: .6;

    &:hover {
        color: #ec0a68;
        opacity: 1;
    }
    &.added {
        color: #ec0a68;
        opacity: 1;

        &:hover {
            opacity: 1;
            color: #ec0a68;
        }
    }
    &.loading {
        animation: woo-wishlist-loading 1s linear infinite;
        pointer-events: none;

        &:focus {
            outline: none;
        }
    }
    &.variation-selection-needed {
        cursor: not-allowed;
    }
}
.woo-wishlist-link {
    position: relative;

    & .woo-wishlist-count {
        position: absolute;
        top: -0.5em;
        right: -1em;
        border-radius: 50%;
        background-color: rgba(109, 109, 109, .6);
        color: #fff;
        line-height: 1;
        text-align: center;
        font-size: .8em;
        padding: 0.25em;
        width: 1.5em;
        height: 1.5em;
        box-sizing: border-box;
    }
}
.site-header .woo-wishlist-link {
    display: none;
}
@media (min-width: 768px) {
    .site-header .woo-wishlist-link {
        display: inline-block;
        translate: -250% 100%;
        position: absolute;
    }
}
.storefront-handheld-footer-bar .woo-wishlist-link {
    text-indent: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;

    & .woo-wishlist-icon {
        font-size: 1.5em;
    }
    & .woo-wishlist-count {
        top: auto;
        right: auto;
        translate: 50% -50%;
    }
}

.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--woo_wishlist a::before {
    content: "\f004";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}